body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
}

header {
    display: flex;
    width: 100%;
}

.nav-lista {
    display: flex;
    list-style: none;
    color: blue;
    font-size: 40px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.nav-item:hover{
    cursor: pointer;
    background-color: pink
    color:white
}

section {
    width: 100%;
    padding-left: 8%;
}

.secao{
    padding-top: 8%;
 padding-right: 2%;
}
